DATABASE_URL=your postgresql link

SECRET_KEY=your secret key

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

CHROMADB_HOST=localhost
CHROMADB_PORT=8001

ANTHROPIC_API_KEY=your anthropic agent key
OPENAI_API_KEY=your openai agent key